{% extends 'blog/base.html' %}

{% block extcss %}
    <link href="/static/blog/css/info.css" rel="stylesheet">
{% endblock %}

{% block extjs %}
    <script type="text/javascript" src="/static/blog/js/hc-sticky.js"></script>
{% endblock %}

{% block content %}
    <article>
        <aside>
            <div class="l_box">
                <div class="about_me">
                    <h2>关于我</h2>
                    <ul>
                        <i><img src="{{ user.icon }}"></i>
                        <p><b>{{ user.name }}</b>{{ user.introduction }}</p>


                    </ul>
                </div>
                <div class="wdxc">
                    <h2>我的相册</h2>
                    <ul>
                        {% for ablum in ablums %}
                            <li><a href=""><img src="{{ ablum.picture }}" alt=""></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="guanzhu">
                    <h2>关注我 么么哒</h2>
                    <ul>
                        <img src="/static/blog/images/wx.jpg">
                    </ul>
                </div>
            </div>
        </aside>

        <main class="r_box">
            <div class="about">

                {{ user.info | safe }}
            </div>
        </main>

    </article>
    <footer>

{% endblock %}