<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
    <meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青"/>
    <meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='blog/css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='blog/css/index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='blog/css/m.css') }}" rel="stylesheet">

    <script src="/static/blog/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/blog/js/hc-sticky.js"></script>
    <script type="text/javascript" src="/static/blog/js/comm.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
</head>
<body>
<header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="/">杨青个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="/" id="selected">首页</a></li>
            <li><a href="{{ url_for('blog.share') }}">相册</a></li>
            <li><a href="{{ url_for('blog.about') }}">关于我</a></li>
            <li><a href="{{ url_for('blog.gbook') }}">留言</a></li>
        </ul>
    </nav>
</header>
<article id="app">


    <aside class="l_box">
        <div class="about_me">
            <h2>关于我</h2>
            <ul>
                <i><img src="{{ user.icon }}"></i>
                <p><b>{{ user.name }}</b>{{ user.introduction }}</p>


            </ul>
        </div>
        <div class="wdxc">
            <h2>我的相册</h2>
            <ul>
                {% for ablum in ablums %}
                    <li><a href=""><img src="{{ ablum.picture }}" alt=""></a></li>
                {% endfor %}


            </ul>
        </div>
        <div class="search">

            <input v-model="search_key" @keyup.enter="search" name="keyboard" id="keyboard" class="input_text" value="请输入关键字词"
                   placeholder="请输入关键字词" type="text">


            <input name="Submit" @click="search" class="input_submit" value="搜索" type="submit">

        </div>

        <div class="fenlei" r_box>

            <h2>文章分类</h2>
            <ul>

                <li v-for="item in types" :key="item.id">
                    <a href="javascript:;" @click="itemize(item.id)">{[ item.name ]} ( {[ item.articles.length
                        ]})</a>
                </li>

            </ul>
        </div>
        <div class="tuijian">
            <h2>站长推荐</h2>
            <ul>
                {% for art in arts.arts %}
                    {% if art.is_recommand %}
                        <li><a href="/">{{ art.title }}</a></li>
                    {% endif %}
                {% endfor %}


            </ul>
        </div>
        <div class="links">
            <h2>友情链接</h2>
            <ul>
                <a href="https://blog.csdn.net/wuye1015">个人博客</a> <a
                    href="https://blog.csdn.net/wuye1015">wuye24h博客</a>
            </ul>
        </div>
        <div class="guanzhu">
            <h2>关注我 么么哒</h2>
            <ul>
                <img src="/static/blog/images/wx.jpg">
            </ul>
        </div>
    </aside>

    <main class="r_box">

        <li v-for="art in arts">
            <i><a :href="'/info/'+art.id"><img :src="art.picture" alt="百度搜索博客wuye24h">{[ art.title ]}</a></i>
            <h3>


                <span v-if="art.is_recommand" style="color: red">
                    [ 顶 ]
                </span>
                
                <a :href="'/info/'+art.id">{[ art.title ]}</a></h3>
            <p>{[ art.introduce ]}</p>
        </li>

    </main>


</article>
<footer>
    <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>


<script>
    new Vue({
        delimiters: ['{[', ']}'],
        el: "#app",
        data: {
            arts: [],
            types: [],
            pages: 1,
            REQUIRE: true,
            search_key: ""
        },
        created() {
            console.log(this.arts)
            axios.get('/articleType/', {
                "pages": this.pages,
                "per_page": 5
            })
                .then((res) => {
                    this.arts = res.data.arts;
                    this.types = res.data.types;
                    console.log(this.arts)

                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        mounted() {
            this.scroll(this.pages)
        },
        methods: {
            search() {
                console.log("你點擊了")
                if (this.search_key.length>=1) {
                    axios.get('/searchkey/', {
                        params: {
                            "key": this.search_key
                        }
                    })
                        .then((res) => {
                            this.arts = res.data.arts;
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }

            },

            itemize(id) {
                axios.get("/type/" + id)
                    .then((res) => {
                        $("#index-aside").css({
                            "position": "relative",
                            "left": "auto",
                            "width": "1000px"
                        });
                        this.arts = res.data.articles;
                        console.log(res.data.articles)

                    })
                    .catch((err) => {

                    })
            },
            scroll(pages) {
                let isLoading = false;
                window.onscroll = () => {
                    // 距离底部200px时加载一次
                    let bottomOfWindow = document.documentElement.offsetHeight - document.documentElement.scrollTop - window.innerHeight <= 200;
                    if (bottomOfWindow && isLoading == false && this.REQUIRE) {
                        isLoading = true;
                        this.pages += 1;
                        axios.get('/articleType/', {
                            params: {
                                "pages": this.pages,
                                "per_page": 5
                            }
                        })
                            .then((res) => {
                                if (res.data.arts.length != 0) {
                                    this.arts = this.arts.concat(res.data.arts);
                                } else {
                                    this.REQUIRE = false;
                                    alert("到底了！！，回去看看吧")
                                }


                                isLoading = false
                            })
                            .catch(function (error) {
                                console.log(error);
                            });

                    }
                }
            },
        }
    })

</script>
