{% extends 'blog/base.html' %}

{% block extcss %}
    <link href="/static/blog/css/info.css" rel="stylesheet">
{% endblock %}

{% block extjs %}
    <script src="/static/blog/js/scrollReveal.js"></script>
{% endblock %}

{% block content %}


    <article>
        <div class="picbox">
            {% for foo in phage.items %}
                <ul>
                    <li data-scroll-reveal="enter bottom over 1s">
                        <a href="{{ url_for('blog.infopic', id=foo.id) }}">
                            <i><img src="{{ foo.picture }}"></i>
                            <div class="picinfo">
                                <h3>{{ foo.title }}</h3>
                                <span>{{ foo.info }}</span></div>
                        </a></li>
                </ul>
            {% endfor %}


        </div>
        <div class="pagelist"><a class="allpage"><b>{{ phage.total }}</b></a>&nbsp;&nbsp;

            {% for phage in phage.iter_pages() %}
                <a href="{{ url_for('blog.share') }}?page={{ phage }}"
                   class="curPage">{{ phage }}</a>&nbsp;&nbsp;
            {% endfor %}

            {% if phage.has_next %}
                <a href="{{ url_for('blog.share') }}?page={{ phage.next_num }}" onclick="">下一页</a>

            {% endif %}
            &nbsp;
        </div>
    </article>
    <footer>
        <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
    </footer>
    <a href="#" class="cd-top">Top</a>
    <script>
        if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
            (function () {
                window.scrollReveal = new scrollReveal({reset: true});
            })();
        }
        ;
    </script>

{% endblock %}